<form action="/square/results">

<label for="alice">Enter a number</label>
<input id="alice" type="text" name="users_num" placeholder="What number do you want?">

<button>Calculate square</button>
</form>
