<form action="/square_root/results">

<label for="bob">Enter a number</label>
<input id="bob" type="text" name="users_num" placeholder="What number do you want?">

<button>Calculate square root</button>
</form>
