<form action="/payment/results">

<label for="dolphin">APR</label>
<input id="dolphin" type="text" name="user_apr">

<label for="cat">Number of years</label>
<input id="cat" type="text" name="user_years">

<label for="dog">Principal</label>
<input id="dog" type="text" name="user_pv">

<button>Calculate monthly payment</button>
</form>
