<form action="/random/results">

<label for="jae">Minimum</label>
<input id="jae" type="text" name="user_min">

<label for="tina">Maximum</label>
<input id="tina" type="text" name="user_max">

<button>Pick random number</button>
</form>
