<h1>Square Root Results</h1>

<dl>
  <dt>Number</dt>
  <dd><%= params.fetch("users_num").to_f %></dd>

  <dt>Square Root</dt>
  <dd><%= Math.sqrt(params.fetch("users_num").to_f) %></dd>

</dl>

<a href="/square_root/new">Calculate another square root</a>
